@import '../default';

.vs-featured-story {
	&__portrait {
		margin-bottom: 30px;

		&__img {
			position: relative;
			width: calc(100% - 15px);
		}

		&__bg {
			position: absolute;
			width: calc(100% - 45px);
			height: 100% !important;
			margin: 15px;
			padding: 0 15px;
			top: 0;
			background: $color-primary;
		}
	}
}
